body {
    margin: 0;
}

@mixin flexAlign($hor: center, $vert: center, $pos: row) {
    display        : flex;
    justify-content: $hor;
    align-items    : $vert;
    flex-direction : $pos;
}



.wrapper {
    width     : 100%;
    height    : 100vh;
    background: lightslategrey;
    @include flexAlign();
}


.container {
    width                  : 50%;
    min-width              : 350px;
    @include flexAlign($pos: column);

    &__list {
        box-shadow             : 0 0 10px 0 black;
        background             : grey;
        padding                : 5px;
        width                  : 100%;
        max-height             : 600px;
        box-sizing             : border-box;
        // @include flexAlign($pos: column, $vert: flex-start);
        overflow               : hidden;
        overflow-y             : auto;
        //  flex-shrink: ;//сохраняет размер блока по обоим осям 
    }
}



.task {
    width                  : 100%;
    height                 : 100px;
    margin-bottom          : 5px;
    @include flexAlign($pos: column, $vert:flex-start);
    padding                : 0 15px;
    box-sizing             : border-box;
    background             : white;
    border                 : 1px solid red;
    border-radius          : 4px;
    position               : relative;

    &__complete {
        margin-right   : 10px;
        position    : absolute;
        margin-left    : -13px;


        &:checked~.task__name {
            text-decoration: line-through;
        }

    }



    &__number {
        font-size   : 18px;
        margin-right: 10;


    }

    &__name {
        font-size  : italic;
        font-weight: bold;
        display: none;

        &_active {
            display: block;
        }
    }


    &__edit {
        display: none;


        &_active {
            display: block;
        }
    }





    &:last-child {
        margin-bottom: 0;
    }


    &__delete {
        position        : absolute;
        cursor          : pointer;
        user-select     : none;
        color           : white;
        font-weight     : bold;
        width           : 15px;
        height          : 15px;
        border-radius   : 50%;
        background-color: red;
        right           : -5px;
        top             : -5px;
        @include flexAlign();

    }

    .edit {
        position        : absolute;
        cursor          : pointer;
        user-select     : none;
        color           : white;
        font-weight     : bold;
        width           : 15px;
        height          : 15px;
        border-radius   : 50%;
        background-color: blue;
        right           : 15px;
        top             : -5px;
        @include flexAlign();


        &_active {
            background-color: green;
        }
    }

    &__email {
        font-weight: bold;

    }
}